<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Eiser ecommerce</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />


    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="tempYas/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="tempYas/css/style.css" type="text/css">
</head>



<body>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu">
            <div class="container" style="    max-width: 1236px;">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="float-left">
                            <p>Phone: +01 256 25 235</p>
                            <p>email: info@eiser.com</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="float-right">
                            <ul class="right_side">
                                <li>
                                    <a href="cart.html">
                                        gift card
                                    </a>
                                </li>
                                <li>
                                    <a href="tracking.html">
                                        track order
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <div class="container" style="    max-width: 1233px;">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/userHome">
                        <img src="img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                        <div class="row w-100 mr-0">
                            <div class="col-lg-7 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item  active ">
                                        <a class="nav-link" href="/userHome">Home</a>
                                    </li>
                                    <li class="nav-item submenu dropdown">
                                        <a href="/Shop" class="nav-link dropdown-toggle" role="button"
                                            aria-expanded="false">Shop</a>

                                        {{!--
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-itemsubmenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true" aria-expanded="false">Shop</a>

                                    <li class="nav-item active submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true" aria-expanded="false">Shop</a> --}}


                                        <ul class="dropdown-menu">
                                            <li class="nav-item">

                                            </li>


                                        </ul>
                                    </li>

                                    <li class="nav-item submenu dropdown">

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="tracking.html">Tracking</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="elements.html">Elements</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        {{!-- <a class="nav-link" href="">Contact</a> --}}
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-5 pr-0">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">


                                    <li class="nav-item">
                                        <a href="/User-CartPage" class="icons">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/userProfile" class="icons">
                                            <i class="ti-user" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/userwishlist" class="icons">
                                            <i class="ti-heart " aria-hidden="true"></i>
                                        </a>
                                    </li>

                                    <li class="nav-item">

                                        <div class="dropdown" style="    margin-top: 1.6rem; margin-left: 1rem;">
                                            <p style="color:  #007bff" class=" dropdown-toggle" href="#" role="button"
                                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                {{#if homeName}} {{homeName}} {{else}} No Account {{/if}}
                                            </p>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                {{#if homeName}}
                                                <li style=" border-radius: 100rem;"><a class="dropdown-item"
                                                        href="/LogoutButton">Logout</a>
                                                </li>
                                                {{else}}
                                                <li style="  border-radius: 100rem;   margin-left: 35px;"><a
                                                        class="dropdown-item" href="/LogoutButton">Login</a></li>
                                                {{/if}}
                                            </ul>
                                        </div>

                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Your Orders</h2>
                        <p>your ordered details</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->



    <div class="table-responsive">
        <table id="dtBasicExample" class="table table-striped container">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Products</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">DELIVERY ADDRESS</th>
                    <th scope="col">My Order</th>
               

                </tr>

            </thead>
            <tbody>
                {{#each userOrderProducts}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>
                        <img src="/productsimg/{{Orderproducts.ProductImage.[0]}}"
                            style="  width: 100px; height: 100px;" alt="">
                    </td>
                    <td>{{Orderproducts.ProductName}}</td>
                    <td>₹{{Orderproducts.ProductPrice}}</td>
                    <td>{{deliveryAddress.city}} ,{{deliveryAddress.district}} ,
                        {{deliveryAddress.state}}
                        ,<br>+91{{deliveryAddress.phone}},<br>{{deliveryAddress.country}},
                        {{deliveryAddress.pincode}} </td>
                    <td>{{status}}
                    </td>
                    

                </tr>
                {{/each}}



            </tbody>
        </table>
    </div>

    {{!--
    <script>$(document).ready(function () {
            // Listen for click events on the return buttons
            $('.return-button').click(function (event) {
                event.preventDefault(); // Prevent the default behavior of the link

                // Add a class that hides the button
                $(this).addClass('hidden');
            });
        });</script> --}}

    <script>
        $(document).ready(function () {
            $('#dtBasicExample tbody tr').each(function (index) {
                $(this).find('th:first').text(index + 1);
            });
        });

    </script>








    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap" style="     height: 470px;  ">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>You can trust us. we only send promo offers,</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default">Subscribe</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made
                    with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">eiser</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                    <h1></h1>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->



    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

</body>

</html>

<script>
    function ReturnProduct(id) {
        $.ajax({
            url: "/ReturnProduct/" + id,
            method: 'get', // Add comma here
            success: (response) => {
                console.log(response);

                if (response.returnStatus == true) {

                    location.href = '/userordersdetails'
                }
            }
        })

    }
</script>

{{!--
<script>
    function returnOrder(id, objid) {
        $.ajax({
            url: "" + id + '/' + objid,
            method: 'get',
            success: (response) => {
                console.log(response);

                if (response.returnStatus == true) {
                    // Hide the button when the return status is true
                    $('.return-button').hide();
                    location.href = '/userordersdetails';
                }
            }
        });
    }

</script> --}}