<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <title>Eiser ecommerce</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="vendors/linericon/style.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/themify-icons.css" />
  <link rel="stylesheet" href="css/flaticon.css" />
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="vendors/animate-css/animate.css" />
  <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="vendors/linericon/style.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/themify-icons.css" />
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="vendors/animate-css/animate.css" />
  <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/singleeee/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/singleeee/css/style.css" type="text/css">
</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
   
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">
            <img src="img/logo.png" alt="" style="    margin-top: -3rem;" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="/signUpLogInButton" class="nav-link dropdown-toggle" role="button">Shop</a>

                  </li>
                  <li></li>

                  <li class="nav-item submenu dropdown">

                    <ul class="dropdown-menu">
                      <li class="nav-item">

                      </li>
                      <li class="nav-item">

                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">

                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">

                  <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-search" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/User-CartPage" class="icons">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/userProfile" class="icons">
                      <i class="ti-user" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/userwishlist" class="icons">
                      <i class="ti-heart " aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="nav-item">

                    <div class="dropdown" style="    margin-top: 1.6rem; margin-left: 1rem;">
                      <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{#if homeName}} {{homeName}} {{else}} No Account {{/if}}
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {{#if homeName}}
                        <li style=" border-radius: 100rem;"><a class="dropdown-item" href="/LogoutButton">Logout</a>
                        </li>
                        {{else}}
                        <li style="  border-radius: 100rem;   margin-left: 35px;"><a class="dropdown-item"
                            href="/LogoutButton">Login</a></li>
                        {{/if}}
                      </ul>
                    </div>


                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>

      </div>

    </div>

  </header>
  <!--================Header Menu Area =================-->




  <section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="product__details__pic">
            <div class="product__details__pic__left product__thumb nice-scroll " style="height: 21rem;">
              <div class="force-overflow">
                {{#each shopproduct.ProductImage}}

                <!--================Start   Small Images =================-->
                <img src="/productsimg/{{this}}" alt="" id="{{@index}}" ondragleave="" onmouseover="zoom(this.id)">


                <!--================Close   Small Images =================-->
                {{/each}}
              </div>
            </div>
            <div class="product__details__slider__content">
              <div class="product__details__pic__slider owl-carousel">
                {{#each shopproduct.ProductImage}}

                <!--================Start Big Images =================-->
                <img src="/productsimg/{{this}}" id='imgView' alt="">

                <!--================close Big Images =================-->
                {{/each}}



              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          {{#ReqBodyData}}
          <form action="/AddToCart/{{Productid}}  " method="post" role="form">
            <div class="product__details__text">
              <h3>{{ProductName}}</h3>
              <div class="rating">
                <span style="color: #388e3c;     font-weight: 500;      font-weight: 700; font-family: inherit;">Special
                  price</span>
              </div>
              <div class="product__details__price">₹{{ProductPrice}} <span>₹ 83.0</span></div>
              <p>{{ProductDescription}}</p>

              <div class="product_details_button">
                {{!-- <div class="quantity">
                  <span>Quantity:</span>
                  <div class="pro-qty">
                    <input name="quantity" type="text" value="1">
                  </div>
                </div> --}}
                <div class="product__details__button">


                  <button type="submit" href="" class="cart-btn"><svg class="_1KOMV2" width="16" height="16"
                      viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                      <path class=""
                        d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
                        fill="#fff"></path>
                    </svg> Add to cart</button>


                  {{!-- <a href="/User-CartPage" class="cart-btn"><svg class="_1KOMV2" width="16" height="16"
                      viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-lightning-fill" viewBox="0 0 16 16">
                        <path
                          d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z" />
                      </svg>
                    </svg> Buy Now</a> --}}


                </div>


              </div>
            </div>
          </form>
          {{/ReqBodyData}}
          <div class="col-lg-12">
            <div class="product__details__tab">

              <div class="tab-content">


              </div>
            </div>
          </div>
        </div>

      </div>
  </section>
  <!-- Product Details Section End -->
  <!--================ Offer Area =================-->


  <footer class="footer-area section_gap" style="     height: 470px;  ">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Top Products</h4>
          <ul>
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Features</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Newsletter</h4>
          <p>You can trust us. we only send promo offers,</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address '" required="" type="email">
              <button class="click-btn btn btn-default">Subscribe</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
          with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
            target="_blank">eiser</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <div class="col-lg-4 col-md-12 footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
          <h1>{{message}}</h1>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->




  <script>
    function zoom(id) {
      img = document.getElementById(id).src
      document.getElementById('imgView').src = img

    }
  </script>






  {{!--

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/stellar.js"></script>
  <script src="vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script> --}}
  {{!--
  <script src="vendors/isotope/isotope-min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
  <script src="vendors/counter-up/jquery.counterup.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/theme.js"></script> --}}



  <script src="/singleeee/js/jquery-3.3.1.min.js"></script>
  <script src="/singleeee/js/bootstrap.min.js"></script>
  <script src="/singleeee/js/jquery.magnific-popup.min.js"></script>
  <script src="/singleeee/js/jquery-ui.min.js"></script>
  <script src="/singleeee/js/mixitup.min.js"></script>
  <script src="/singleeee/js/jquery.countdown.min.js"></script>
  <script src="/singleeee/js/jquery.slicknav.js"></script>
  <script src="/singleeee/js/owl.carousel.min.js"></script>
  <script src="/singleeee/js/jquery.nicescroll.min.js"></script>
  <script src="/singleeee/js/main.js"></script>




  {{!--
  <script src="tempYas/js/jquery-3.3.1.min.js"></script>
  <script src="tempYas/js/bootstrap.min.js"></script>
  <script src="tempYas/js/jquery.nice-select.min.js"></script>
  <script src="tempYas/js/jquery.nicescroll.min.js"></script>
  <script src="tempYas/js/jquery.magnific-popup.min.js"></script>
  <script src="tempYas/js/jquery.countdown.min.js"></script>
  <script src="tempYas/js/jquery.slicknav.js"></script>
  <script src="tempYas/js/mixitup.min.js"></script>
  <script src="tempYas/js/owl.carousel.min.js"></script> --}}

  {{!--
  <script src="tempYas/js/main.js"></script> --}}
</body>

</html>